.centralizado {
    display: flex;
    flex-direction: column;
  }
  .amy {
    padding-left: 70px;
    padding-right: 50px;
    border-color: #008B8B;
    background-color: #008B8B;
    color: white;
}

#botao {
    background-color: #008B8B;
    color: black;
    margin-left: 275px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: xx-large;
    border: #008B8B;
}