.centralizado {
    display: flex;
    flex-direction: column;
  }
  .amy {
    padding-left: 70px;
    padding-right: 70px;
    border-color: #008B8B;
    background-color: #008B8B;
    color: white;
    font-size: medium;
}

#botao {
    background-color: #008B8B;
    color: black;
    margin-left: 245px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: xx-large;
    border: #008B8B;
}