<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<body>
    <div th:fragment="sidebar">   
        <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="background-color: #008B8B; display:none" id="mySidebar">
            <div class="text-center mb-4" style="background-color: #008B8B;">
                <img src="/imagens/logos/LogoInterdata.png" class="img-fluid" alt="Logo" style="width: 100px;">
            </div>
            <button style="background-color: #008B8B; color: black;" class="w3-bar-item w3-button w3-large" onclick="w3_close()"> &times;</button>
            <a class="btn btn-primary" style="padding-left: 31%; padding-right: 37%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="/home" role="button"><i class="bi bi-house-door"></i> Home</a>
            <a class="btn btn-primary" style="padding-left: 31%; padding-right: 36%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="/animais" role="button"><i class="bi bi-house-door"></i> Animais</a>
            <a class="btn btn-primary" style="padding-left: 31%; padding-right: 36%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="/clientes" role="button"><i class="bi bi-house-door"></i> Clientes</a>
            <a class="btn btn-primary" style="padding-left: 31%; padding-right: 35%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="/produtos" role="button"><i class="bi bi-house-door"></i> Produtos</a>
            <a class="btn btn-primary" style="padding-left: 31%; padding-right: 31%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="/vendedores" role="button"><i class="bi bi-house-door"></i> Vendedores</a>
            <a class="btn btn-primary" style="padding-left: 31%; padding-right: 36%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="/pedidos" role="button"><i class="bi bi-house-door"></i> Pedidos</a>
            <a class="btn btn-primary" style="padding-left: 27%; padding-right: 18%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="/#" role="button"><i class="bi bi-house-door"></i> Itens de Pedidos</a>
            <a class="btn btn-primary" style="padding-left: 31%; padding-right: 36%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="/estoques" role="button"><i class="bi bi-house-door"></i> Estoque</a>
            <a class="btn btn-primary" style="padding-left: 30%; padding-right: 36%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="/categorias" role="button"><i class="bi bi-house-door"></i> Categorias</a>
            <a class="btn btn-primary" style="padding-left: 31%; padding-right: 36%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="/racas" role="button"><i class="bi bi-house-door"></i> Raças</a>
            <a class="btn btn-primary" style="padding-left: 31%; padding-right: 38%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="/especies" role="button"><i class="bi bi-house-door"></i> Espécies</a>
            <a class="btn btn-primary" style="padding-left: 27%; padding-right: 35%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="#" role="button"><i class="bi bi-house-door"></i> Pagamentos</a>
            <a class="btn btn-primary" style="padding-left: 14%; padding-right: 10%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="#" role="button"><i class="bi bi-house-door"></i> Formas de Pagamento</a>
            <a class="btn btn-primary" style="padding-left: 30%; padding-right: 38%; border-color: #008B8B; background-color: #008B8B; font-size: medium;" href="#" role="button"><i class="bi bi-house-door"></i> Relatórios</a>
        </div>
            <div class="w3-teal">
                <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
            </div>
        <script>
            function w3_open() {
                document.getElementById("main").style.marginLeft = "25%";
                document.getElementById("mySidebar").style.width = "25%";
                document.getElementById("mySidebar").style.display = "block";
                document.getElementById("openNav").style.display = 'none';
            }
            function w3_close() {
                document.getElementById("main").style.marginLeft = "5%";
                document.getElementById("mySidebar").style.display = "none";
                document.getElementById("openNav").style.display = "inline-block";
            }
        </script>
    </div>
    
</body>
</html>