<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Raças</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="../../css/estilo.css" rel="stylesheet">      

</head>
<body>
    <div th:replace="fragmentos/menu-lateral :: sidebar"></div>
    <div class="centralizado" id="main">
<div class="container">
    <h2>Cadastro de Raças</h2>
    <form th:action="@{'/racas/editar/' + ${raca.id}}" th:object="${raca}" method="post">
        <input type="hidden" th:field="*{id}" /> 
        <div class="mb-3">
            <label for="nome" class="form-label">Nome da Raça</label>
            <input type="text" id="nome" th:field="*{nome}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="especie" class="form-label">Espécie</label>
            <select id="especieId" name="especieId" class="form-select" required>
                <option th:each="especie : ${especies}"
                        th:value="${especie.id}"   
                        th:text="${especie.nome}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Atualizar</button>
         <a th:href="@{/racas}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</body>
</html>