<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cadastro de Produtos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/estilo.css" rel="stylesheet">

</head>

<body>
    <div th:replace="fragmentos/menu-lateral :: sidebar"></div>
    <div class="centralizado" id="main">
        <div class="container">
            <h2>Cadastro de Produtos</h2>
            <form th:action="@{'/produtos/editar/' + ${produto.id}}" method="post">
                
                <div class="mb-3">
                    <label class="form-label">Nome do Produto</label>
                    <input type="text" th:value="${produto.nome}" class="form-control" name="nome" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Preço</label>
                    <input type="text" th:value="${produto.preco}" class="form-control" name="preco" required>
                </div>

                <div class="mb-3">
                    <label for="categoriaId" class="form-label">Categoria do Produto</label>
                    <select class="form-select" name="categoriaId" id="categoriaId" required>
                        <option 
                            th:each="categoria : ${categorias}" 
                            th:value="${categoria.id}"
                            th:text="${categoria.nome}"
                            th:selected="${categoria.id == produto.categoria.id}"></option>
                        </option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Atualizar</button>
            </form>
        </div>
</body>

</html>